*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: teal;
    margin-top: 5%;
    font-size: 1.2em;
    color: white;
    
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2em;
    width: 20%;
    height: 10%;
    padding: 10px;
    margin-left: 1%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    width: 40%;
    justify-content: space-around;
    align-items: center;  
}

p{
    margin-left: 15%;
    margin-top: 5%;
    
}
select{
    margin: 10% ;
    height: 5%;
    padding: 15px;
}


.btns{
    display: flex;
    flex-direction: row ;
    margin-left: 16%;
    margin-top: 2%;
    margin-right: 20%;
    align-items: center;
}

button{
    margin-left: 9%;
    padding: 15px;
    
}

#conteudo{
    margin-left: 15%;
    display: block;
    width: 60vh;
    height: 20vh;
    font-size: 1.2em;
    flex-wrap: wrap;
}


.quantos{
    display: none;
    
}

#qtdade{
    width: 10vh;
    margin: 10% ;
    height: 5%;
    padding: 15px;;
}
#resposta{
    display: block;
    font-size: 1.5em;

}

.decod{
    margin-left: 5%;
}

.invisível{
    display: none;
}

.semuso{
    display: none; 
}

.resp{
    display: flex;
    margin-top: 5%;
}

.msncod{
    display: flex;
    flex-direction: row;
    color: black;
}
